body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calculator input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;
    
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator button {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculator button:hover {
    background-color: #e0e0e0;
}

.calculator button.operator {
    background-color: #ff9800;
    color: #fff;
    border-color: transparent;
}

.calculator button.operator:hover {
    background-color: #f5e900;
}

.calculator button.clear {
    grid-column: span 1;
}

.calculator button.equals {
    grid-column: span 4;
    background-color: #00ffb7;
    color: #fff;
    border-color: transparent;
}

.calculator button.equals:hover {
    background-color: #00ccff;
}
